[submodule "tvm"]
	path = external/tvm
	url = ../../tvm/tvm.git
[submodule "external/automate"]
	path = external/automate
	url = ../../timing/schrank/automate.git
[submodule "external/tvm"]
	path = external/tvm
	url = ../tvm
