[submodule "external/tvm"]
	path = external/tvm
	url = ../tvm.git
[submodule "external/utvm_staticrt_codegen"]
	path = external/utvm_staticrt_codegen
	url = https://github.com/tum-ei-eda/utvm_staticrt_codegen.git
[submodule "external/ac_types"]
	path = external/ac_types
	url = https://github.com/hlslibs/ac_types.git
